<app-header></app-header>
<div class="container text-center  w-50 mt-5 p-3 shadow p-3 mb-5 rounded" style="height: 400px; background-color: #21D192; border-radius: 20px;">
    <div class="text-center container w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
       <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Patient's Login</h1>
   <div class="container p-3" >
   <form  action="">
             <div class="form-floating mb-3" >
                 <input formControlName="auname" name="u1"  type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="border-radius: 30px;" >
                 <label for="floatingInput">PId</label>
               </div>
               <div class="form-floating">
                 <input formControlName="apsw" name="p1" type="password" class="form-control" id="floatingPassword" placeholder="Password" style="border-radius: 30px;" >
                 <label for="floatingPassword">Patient's Name</label>
               </div>
               <button  type="button" class="btn btn-success  p-2 mt-4 w-50">Login</button>    
     
   </form></div> 
   </div>
   </div><app-footer></app-footer>