<!-- <nav class="navbar navbar-expand-lg bg-body-light" style="position:-webkit-sticky;">
    <div class="container-fluid">
<img style="height: 150px;" src="https://i.postimg.cc/9f2cDVrs/download.png" alt="">    
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-end me-5" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container-fluid">
<a href="">
        <img style="height: 150px;" src="https://i.postimg.cc/9f2cDVrs/download.png" alt="">    
  
</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <form class="d-flex me-5" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">About us</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link active" href="#">Service</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link active" href="doc-appointments" style="background-color: #21D192; border-radius: 20px;">Book Appointments</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i style="color: #21D192;" class="fa-solid fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="user-login"><i style="color: #21D192;" class="fa-solid fa-arrow-right-to-bracket"></i> <strong>  Login</strong></a></li>
                  <li><a class="dropdown-item" (click)="logout()"><i style="color: #21D192;" class="fa-regular fa-circle-xmark"></i> <strong>  Logout</strong></a></li>
                </ul>
              </div>            </li>


            <li class="nav-item">
            </li>
          </ul>        </form>
      </div>
    </div>
  </nav>