
<app-admin-header></app-admin-header>
<div class="text-center conatiner text-center p-3 w-50 mt-5">
    <div class="row container p-3 text-center ms-5">
        <div class="col-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">   
             <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
            <img style="height: 175px;" src="https://i.postimg.cc/J415Bnbv/i-Stock-894125638-1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Staff Management</h5>
              <a href="staff-management" class="btn btn" style="background-color: #21D192;">Edit Here</a>
            </div>
          </div>
    </div>
        <div class="col-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <img src="https://i.postimg.cc/X7XC9yzZ/depositphotos-83361338-stock-photo-fever-patients.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Patient Management</h5>
                  <a href="patient-management" class="btn " style="background-color: #21D192;">Edit Here</a>
                </div>
              </div>
        
        </div>
    </div>
</div>