

<nav class="navbar">
    <div class="container">
      <form class="" role="search">
        <button class="btn btn-outline ms-5" style="background-color: #21D192;" (click)="addStaff()" type="submit">Add Staff Details</button>
      </form>
    </div>
  
  </nav>

<table class="table table table-success table-striped conatiner border-dark p-3 mt-3 w-75 ms-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name </th>
        <th scope="col">Specialization</th>
        <th scope="col">About</th>
        <th scope="col">Image</th>
        <th scope="col">Education</th>
        <th scope="col">Consultation Fee</th>
        <th scope="col">Appointments</th>
        <th scope="col">Category Id</th>
        <th scope="col">No: Slots</th>
        <th scope="col">Actions</th>


      </tr>
    </thead>
    <tbody>
      <tr class="border-dark" *ngFor="let i of sdata let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.docname}}</td>
        <td>{{i.specialization}}</td>
        <td>{{i.about}}</td>
        <td><img src="{{i.image}}" alt=""></td>
        <td>{{i.education}}</td>
        <td>{{i.consultationfee}}</td>
        <td>{{i.appointments}}</td>
        <td>{{i.categoryId}}</td>
        <td>{{i.slots_available}}</td>
        <td>
          <button (click)="edit(i._id) " class="btn mt-2" style="background-color: #21D192;" ><i class="fa-solid fa-pencil"></i></button>
          <button (click)="deletestaff(i._id)" class="btn btn-danger mt-4"><i class="fa-solid fa-trash "></i></button>

        </td>

      </tr>
    </tbody>
  </table>
  <div class="text-end me-4">
    <form  >
        <a class="btn btn-outline-success " (click)=" backHome()" >Back To Home</a>
      </form>
    
</div>
